body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Pas de achtergrondkleur aan */
    color: #181818;
}


.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.partijenbtn {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #78b178;
}
